################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/angularjsdemos/bin
/angularjsdemos/obj/Debug
*.user
